* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

#container {
  width: 80vw;
  min-height: 120vh;
  margin: 30px auto;
  border: 1px solid #fff;
  background: #fff;
  padding: 30px;
  position: relative;
}

/* Style for the Invoice Template */
i {
  color: #a8eb44;
}

.flex-parent {
  display: flex;
  align-items: center;
}

#invoice-header {
  justify-content: space-between;
}

#invoice-header h1 {
  border: 3px solid #a8eb44;
  padding: 10px;
}

#invoice-showcase {
  justify-content: space-between;
}

#client-info {
  margin: 10px 0px;
  flex-basis: 40%;
}

#client-info p:first-child {
  font-weight: bold;
}

#client-name {
  color: #a8eb44;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
}

#client-title {
  font-size: 0.8rem;
  width: 100%;
}

#client-address {
  margin-bottom: 10px;
  font-size: 1.2rem;
  width: 100%;
}

#client-info i {
  margin-right: 10px;
}

.client-contact {
  width: 100%;
  font-size: 1rem;
}

#invoice-detail {
  background: #404040;
  justify-content: space-around;
  padding: 10px;
  flex-basis: 50%;
}

#invoice-detail .cell {
  color: #fff;
  padding: 5px;
  text-align: center;
  width: 100%;
}

#invoice-detail .header {
  font-size: 1.15rem;
  font-weight: bold;
}

#invoice-detail .row {
  font-size: 1rem;
}

#invoice-breakdown {
  flex-direction: column;
  align-items: stretch;
  margin: 20px 0px;
}

#invoice-breakdown div {
  justify-content: space-between;
}

#invoice-breakdown div textarea {
  padding: 10px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

#invoice-breakdown div:nth-child(odd) {
  background: #e3e3e3;
}

#invoice-breakdown div.header-row {
  background: #404040;
}

#invoice-breakdown #header {
  background: #a8eb44;
}

#invoice-breakdown div.header-row textarea {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  padding: 20px;
}

.invoice-amount {
  text-align: end;
}

.invoice-amount textarea {
  text-align: end;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
}

#invoice-total textarea {
  background: #a8eb44;
  color: #fff;
  margin: 10px 0px;
}

#contact-details {
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #e3e3e3;
  width: 100%;
  justify-content: space-around;
  margin-left: -30px;
}

#contact-details div {
  margin: 20px;
  width: 100%;
}

#contact-details i {
  margin-right: 10px;
}

#contact-details textarea {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

#name {
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
}

#signature {
  border: 1px solid #e3e3e3;
  margin-bottom: 40px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #container,
  #container * {
    visibility: visible;
  }
  #container {
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
  }

  #invoice-detail {
    padding: 0;
  }
}
