#input-box {
  margin: 10px;
  display: flex;
  align-items: flex-end;
}

.label {
  background: #e6e6e6;
  color: #8c8c8c;
  display: inline-block;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 0.9rem;
}

::placeholder {
  color: #d1d1d1;
}

input {
  border: 1px solid #ebebeb;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: none;
  padding: 10px;
  height: 50px;
  min-width: 200px;
  box-sizing: border-box;
  /* font-size: 1.3rem; */
}

input:focus {
  outline: 0;
}
